nav .navbar-nav li {
  padding-right: 40px;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.navbar-inverse {
  background-color: $brand-red !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}

table th {
  font-size: 20px;
}

.btn-primary {
  background-color: $brand-red;
  &:hover, &:active {
    background-color: darken($brand-red, 20%) !important;
  }
}

#season-form, #tour-form, #search-bar, #presenter-form {
  margin-bottom: 20px;
  label {
    margin-left: 75px;
  }
}

#tours-table button {
  width: 100%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.red-bar {
  background-color: $brand-red !important;
  border-radius: 4px;
  border-color: #090909;
  margin-bottom: 22px;
}

.panel-default > .panel-heading {

  background-color: $brand-blue;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;

}

form#login {
  a {
    padding: 0;
  }
  button {
  margin-top: 7px;
  }
}

.form-group input[type = 'text'] {

  width: 50%;

}